<ul class="nav nav-list">
  <li class="nav-header">Processes</li>
  <li <%= active("business_processes") %>><%= link_to icon_("fast-forward") + t("activerecord.models.business_process.other"), business_processes_path %></li>
  <li <%= active("steps") %>><%= link_to icon_("step-forward") + t("activerecord.models.step.other"), steps_path %></li>
  <li <%= active("step_models") %>><%= link_to icon_("eject") + t("activerecord.models.step_model.other"), step_models_path %></li>
  <li <%= active("step_actions") %>><%= link_to icon_("play") + t("activerecord.models.step_action.other"), step_actions_path %></li>
  <li <%= active("outgoing_arrows") %>><%= link_to icon_("share") + t("activerecord.models.outgoing_arrow.other"), outgoing_arrows_path %></li>
  <li <%= active("process_instances") %>><%= link_to icon_("truck") + t("activerecord.models.process_instance.other"), process_instances_path %></li>
  <li <%= active("tokens") %>><%= link_to icon_("tags") + t("activerecord.models.token.other"), tokens_path %></li>
  <li <%= active("token_statuses") %>><%= link_to icons(["tag","signal"]) + t("activerecord.models.token_status.other"), token_statuses_path %></li>
</ul>
