<%- model_class = StepAction -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @step_action.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:step_model_id) %>:</strong></dt>
  <dd><%= @step_action.step_model.name %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              step_actions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_step_action_path(@step_action), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              step_action_path(@step_action),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
