<%- model_class = InvoiceHeader -%>
<div class = 'form-horizontal'>
  <% if @invoice_header.company_id %>
    <%= f.association :company, :disabled => true %>
  <% else %>
    <%= f.association :company, :disabled => true, :selected => current_company.id %>
    <%= f.hidden_field :company_id, :value => current_company.id %>
  <% end %>
  <%= f.association :customer, :label_method => :lastname %>
  <%= f.input :reference_number %>
  <%= f.association :currency, :label_method => :shorttext %>
  <%= f.input :consignee, :input_html => { :rows => 3 } %>
  <%= f.input :dicount %>
<div class="row-fluid">
  <div class="span2"><%= model_class.human_attribute_name(:product) %></div>
  <div class="span1"><%= model_class.human_attribute_name(:quantity) %></div>
  <div class="span1"><%= model_class.human_attribute_name(:unit) %></div>
  <div class="span3"></div>
</div>
</div>
  
 <div class="row-fluid">

  <%= f.simple_fields_for :invoice_positions, :html => { :class => 'form-inline' } do |pos| %>
   
    <div class="span2"><%= pos.association :product, :label => false, :label_method => 'shorttext', :input_html => { :class => ".span2"} %></div>
    <div class="span1"><%= pos.input :quantity, :label => false, :input_html => { :class => "input-mini"} %></div>
    <div class="span1"><%= pos.association :unit, :label => false, :label_method => 'shorttext', :input_html => { :class => ".span1"} %>  </div>    
    <div class="span3"><%= pos.link_to_remove "Delete Position", :class => "btn" %></div>
    <div class=clearfix></div>
  <% end %> 
<%= f.link_to_add "Add a Position", :invoice_positions, :class => "btn" %> 

      
     </div>
  

