<%- model_class = Currency -%>
<%= bootstrap_error(@currency, model_class ) %>

<%= simple_form_for @currency, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :company_id %>
  <%= f.input :currency %>
  <%= f.input :shorttext %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                currencies_path, :class => 'btn' %>
  </div>
<% end %>
