<%- model_class = Token -%>
<div class="page-header">
  <h1><%= t("activerecord.models.token.waiting") %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:company_id) %></th>
      <th><%= model_class.human_attribute_name(:business_process_id) %></th>
      <th><%= model_class.human_attribute_name(:process_instance_id) %></th>
      <th><%= model_class.human_attribute_name(:step_id) %></th>
      <th><%= model_class.human_attribute_name(:created_by) %></th>
      <th><%= model_class.human_attribute_name(:updated_by) %></th>
      <th><%= model_class.human_attribute_name(:last_step_id) %></th>
      <th><%= model_class.human_attribute_name(:object_id) %></th>
      <th><%= model_class.human_attribute_name(:version) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @tokens.each do |token| %>
      <tr>
        <td><%= link_to token.id, token_path(token) %></td>
        <td><%= token.company.name %></td>
        <td><%= token.business_process.name if token.business_process %></td>
        <td><%= token.process_instance %></td>
        <td><%= token.step.name if token.step %></td>
        <td><%= created(token) %></td>
        <td><%= updated(token) %></td>
        <td><%= token.last_step.name if token.last_step %></td>
        <td><%= token.object_id %></td>
        <td><%= token.versions.last.index %></td>
        <td>
          <%= link_to t('.create_process_instance', :default => t("helpers.links.new"), :model => "Process Instance"),
                      create_aio_process_instances_path(:token => token.id), :method => :post, :class => 'btn btn-mini'  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new"), :model => model_class.model_name.human),
            new_token_path,
            :class => 'btn btn-primary' %>
