<%= simple_form_for @customer, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :academictitle %>
  <%= f.input :lastname %>
  <%= f.input :firstname %>
  <%= f.input :street %>
  <%= f.input :zipcode %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.input :phone %>
  <%= f.input :fax %>
  <%= f.input :mobil %>
  <%= f.input :email %>
  <%= f.input :taxnumber %>
  <%= f.input :paymentterms %>
  <%= f.input :customergroup %>
  <%= f.input :taxcode %>
  <%= f.input :salesman %>
  <%= f.input :comment %>
  <%= f.input :deletionflag %>
  <%= f.input :contactperson %>
  <%= f.input :discount %>
  <%= f.input :consignee %>
  <%= f.input :currency %>
  <%= f.input :created_by %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                customers_path, :class => 'btn' %>
  </div>
<% end %>
