<%- model_class = InvoicePosition -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:invoice_header_id) %>:</strong></dt>
  <dd><%= @invoice_position.invoice_header_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:textposition) %>:</strong></dt>
  <dd><%= @invoice_position.textposition %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @invoice_position.product.shorttext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:quantity) %>:</strong></dt>
  <dd><%= @invoice_position.quantity %></dd>
  <dt><strong><%= model_class.human_attribute_name(:unit_id) %>:</strong></dt>
  <dd><%= @invoice_position.unit.shorttext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:discount) %>:</strong></dt>
  <dd><%= @invoice_position.discount %></dd>
  <dt><strong><%= model_class.human_attribute_name(:value) %>:</strong></dt>
  <dd><%= @invoice_position.value %></dd>
  <dt><strong><%= model_class.human_attribute_name(:vatrate) %>:</strong></dt>
  <dd><%= @invoice_position.vatrate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:price) %>:</strong></dt>
  <dd><%= @invoice_position.price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:base_price) %>:</strong></dt>
  <dd><%= @invoice_position.base_price %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @invoice_position.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= created(@invoice_position) %>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              invoice_positions_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_invoice_position_path(@invoice_position), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              invoice_position_path(@invoice_position),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
