<%- model_class = Step -%>
<%= bootstrap_error(@step, model_class ) %>

<%= simple_form_for @step, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>

  <% if @step.company_id %>
    <%= f.association :company, :disabled => true %>
  <% else %>
    <%= f.association :company, :disabled => true, :selected => current_company.id %>
    <%= f.hidden_field :company_id, :value => current_company.id %>
  <% end %>

  <%= f.association :business_process, :collection => BusinessProcess.where(:company_id => current_company.id) %>

  <%= f.association :step_model %>
  <%= f.association :step_action %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                steps_path, :class => 'btn' %>
  </div>
<% end %>
