<%- model_class = Step -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @step.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:default_start) %>:</strong></dt>
  <dd><%= checkbox(@step.default_start) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @step.company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= created(@step) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:process_id) %>:</strong></dt>
  <dd><%= @step.business_process.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:step_model_id) %>:</strong></dt>
  <dd><%= @step.step_model.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:step_action_id) %>:</strong></dt>
  <dd><%= @step.step_action.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:version) %>:</strong></dt>
  <dd><%= @step.versions.last.index %></dd>
</dl>
  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#versions" data-toggle="tab"><%= model_class.human_attribute_name(:versions) %></a></li>
  </ul>
  <div class="tab-content">
    <%= versioning_helper(@step, :active) %>
  </div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              steps_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_step_path(@step), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              step_path(@step),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
