<%- model_class = User -%>
<%= bootstrap_error(@user, model_class ) %>

<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password, :hint => t('hints.leave_empty') %>
  <%= f.input :password_confirmation %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :parent_id, :collection => User.in_company(current_company.id), :label => t("attributes.parent") %>

  <%= f.association :roles, :as => :check_boxes if admin? %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>

<% end %>
