<%- model_class = User -%>
<%= bootstrap_error(@user, model_class ) %>

<%= simple_form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :email %>
  <%= f.input :password, :hint => t('hints.leave_empty') %>
  <%= f.input :password_confirmation %>
  <%= f.input :firstname %>
  <%= f.input :lastname %>
  <%= f.input :parent_id, :collection => User.in_company(current_company.id), :label => t("attributes.parent") %>

  <div id="substitutions">
    <%= f.simple_fields_for :substitutions do |s| %>
      <% render 'substitution_fields', :f => s %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("helpers.add_deputy"), f, :substitutions, :class => "controls btn btn-small btn-inverse" %>
    </div>
  </div>
  <br/>

  <%= f.association :roles, :as => :check_boxes if admin? %>

  <div id="user_function_assignments">
    <%= f.simple_fields_for :user_function_assignments do |ufa| %>
      <% render 'user_function_assignment_fields', :f => ufa %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("helpers.add_user_function_assignment"), f, :user_function_assignments,
          :class => "controls btn btn-small btn-info" %>
      <br /> <br />
    </div>
  </div>

  <div id="department_affiliations">
    <%= f.simple_fields_for :department_affiliations do |da| %>
      <% render 'department_affiliation_fields', :f => da %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("helpers.add_department_affiliation"), f, :department_affiliations,
          :class => "controls btn btn-small btn-success" %>
      <br /> <br />
    </div>
  </div>

  <div id="user_role_in_company_assignments">
    <%= f.simple_fields_for :user_role_in_company_assignments do |urica| %>
      <% render 'user_role_in_company_assignment_fields', :f => urica %>
    <% end %>
    <div class="links">
      <%= link_to_add_association t("helpers.add_user_role_in_company_assignment"), f, :user_role_in_company_assignments,
          :class => "controls btn btn-small btn-warning" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                admin_users_path, :class => 'btn' %>
  </div>

<% end %>
