<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:firstname) %>:</strong></dt>
  <dd><%= @user.firstname %></dd>
  <dt><strong><%= model_class.human_attribute_name(:lastname) %>:</strong></dt>
  <dd><%= @user.lastname %></dd>

  <% if @user.parent %>
    <dt><strong><%= model_class.human_attribute_name(:parent) %>:</strong></dt>
    <dd><%= @user.parent.name %></dd>
  <% end %>

  <dt><strong><%= model_class.human_attribute_name(:deputy) %>:</strong></dt>
  <dd>
    <% for deputy in @user.deputies.all %>
      <span class="label"><%= deputy.name %></span>
    <% end %> &nbsp;
  </dd>
  <dt><strong><%= model_class.human_attribute_name(:functions) %>:</strong></dt>
  <dd>
    <% for function in @user.functions.all %>
      <span class="label label-info"><a href="#" rel="tooltip" data-placement="top" data-original-title="<%= function.description %>"><%= function.name%></a></span>
    <% end %> &nbsp;
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:roles_in_company) %>:</strong></dt>
  <dd>
    <% for role_in_company in @user.roles_in_company.all %>
      <span class="label label-warning"><%= role_in_company.name %></span>
    <% end %> &nbsp;
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:departments) %>:</strong></dt>
  <dd>
    <% for department in @user.departments %>
      <span class="label label-success"><%= department.name + " (" + department.company.name + " )"%></span>
    <% end %> &nbsp;
  </dd>

  <dt><strong><%= model_class.human_attribute_name(:user_roles) %>:</strong></dt>
  <dd>
    <% for role in @user.roles.all %>
      <span class="label label-important"><%= role.name %></span>
    <% end %> &nbsp;
  </dd>


  <dt><strong><%= model_class.human_attribute_name(:sign_in_count) %>:</strong></dt>
  <dd><%= @user.sign_in_count %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_sign_in_at) %>:</strong></dt>
  <dd><%= @user.current_sign_in_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_at) %>:</strong></dt>
  <dd><%= @user.last_sign_in_at %></dd>
  <dt><strong><%= model_class.human_attribute_name(:current_sign_in_ip) %>:</strong></dt>
  <dd><%= @user.current_sign_in_ip %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_sign_in_ip) %>:</strong></dt>
  <dd><%= @user.last_sign_in_ip %></dd>


  <dt><strong><%= model_class.human_attribute_name(:reset_password_sent_at) %>:</strong></dt>
  <dd><%= @user.reset_password_sent_at %></dd>

</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              admin_users_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_admin_user_path(@user), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              admin_user_path(@user),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
