<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:company_id) %>:</strong></dt>
  <dd><%= @product.company.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:productkey) %>:</strong></dt>
  <dd><%= @product.productkey %></dd>
  <dt><strong><%= model_class.human_attribute_name(:shorttext) %>:</strong></dt>
  <dd><%= @product.shorttext %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @product.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:productgroup) %>:</strong></dt>
  <dd><%= @product.productgroup %></dd>
  <dt><strong><%= model_class.human_attribute_name(:eannumber) %>:</strong></dt>
  <dd><%= @product.eannumber %></dd>
  <dt><strong><%= model_class.human_attribute_name(:taxcode) %>:</strong></dt>
  <dd><%= @product.taxcode %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deletionflag) %>:</strong></dt>
  <dd><%= @product.deletionflag %></dd>
  <dt><strong><%= model_class.human_attribute_name(:baseunit) %>:</strong></dt>
  <dd><%= @product.baseunit %></dd>
  <dt><strong><%= model_class.human_attribute_name(:salesprice) %>:</strong></dt>
  <dd><%= @product.salesprice %></dd>
  <dt><strong><%= model_class.human_attribute_name(:purchaseprice) %>:</strong></dt>
  <dd><%= @product.purchaseprice %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_by) %>:</strong></dt>
  <dd><%= @product.created_by %></dd>
</dl>
<%= versioning_helper(@product) %>
<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              products_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
